.navbar {
  height: 100px;
  background-color: rgba(255, 255, 75, 0.5);
  overflow: hidden
}

.navbar img {
  float: left;
  width: 300px
}

.navbar nav {
  float: right;
  width: calc(100% - 300px);
  height: 4.5em;
  line-height: 4.5em;
  white-space: nowrap
}

.navbar nav ul {
  text-align: center;
  list-style: none;
  margin-left: -50px;
  min-width: 500px
}

.navbar nav ul li {
  display: inline;
  margin-left: 20px
}

.navbar nav ul li img {
  height: 16px;
  width: auto
}

.navbar nav ul a {
  font-family: 'verdana';
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
  color: black;
  transition: color 0.5s
}

.navbar nav ul a:hover {
  transition: color 0.5s, decoration 1s;
  color: #d2281e
}

.home .content img {
  height: 100px;
  width: auto
}

body {
  margin: 0
}

hr {
  border-color: black
}

.content {
  background-color: red;
  height: calc(100vh - 104px)
}

.top-bottom-border {
  border-top: 2px solid black;
  border-bottom: 2px solid black
}

.navbar {
  height: 100px;
  background-color: rgba(255, 255, 75, 0.5);
  overflow: hidden
}

.navbar img {
  float: left;
  width: 300px
}

.navbar nav {
  float: right;
  width: calc(100% - 300px);
  height: 4.5em;
  line-height: 4.5em;
  white-space: nowrap
}

.navbar nav ul {
  text-align: center;
  list-style: none;
  margin-left: -50px;
  min-width: 500px
}

.navbar nav ul li {
  display: inline;
  margin-left: 20px
}

.navbar nav ul li img {
  height: 16px;
  width: auto
}

.navbar nav ul a {
  font-family: 'verdana';
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
  color: black;
  transition: color 0.5s
}

.navbar nav ul a:hover {
  transition: color 0.5s, decoration 1s;
  color: #d2281e
}

.home .content img {
  height: 100px;
  width: auto
}