html {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

button:hover,
button:active {
  outline: 0;
}

button.depth {
  background: #444;
  border: none;
  border-radius: 80px;
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.2), inset 0 0 2px 4px rgba(0, 0, 0, 0.2), inset 0 0 2px 6px rgba(0, 0, 0, 0.2), inset 0 0 1px 8px rgba(0, 0, 0, 0.5), inset 0 -4px 2px 4px rgba(0, 0, 0, 0.5), inset 0 1px 1px 8px rgba(255, 255, 255, 0.25), inset 0 -30px 30px rgba(0, 0, 0, 0.2), 0 -4px 8px 4px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0.25), 0 0 2px 2px rgba(0, 0, 0, 0.2), 0 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 2px 6px rgba(0, 0, 0, 0.2), 0 0 2px 8px rgba(0, 0, 0, 0.5), 0 1px 2px 8px rgba(255, 255, 255, 0.25), 0 -1px 2px 8px rgba(0, 0, 0, 0.5);
  color: #303030;
  cursor: pointer;
  font: bold 40px/85px sans-serif;
  height: 80px;
  padding: 0;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.25), 0 -1px 1px rgba(0, 0, 0, 0.75);
  width: 80px;
}

button:hover,
button button.activable:focus {
  color: #0ab;
  text-shadow: 0 0 20px rgba(143, 143, 239, 0.5), 0 1px 1px rgba(255, 255, 255, 0.25), 0 -1px 1px rgba(0, 0, 0, 0.75);
}

button:focus {
  outline: none;
}

button:active {
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.2), inset 0 0 2px 4px rgba(0, 0, 0, 0.2), inset 0 0 2px 6px rgba(0, 0, 0, 0.2), inset 0 0 1px 7px rgba(0, 0, 0, 0.5), inset 0 5px 15px 7px rgba(0, 0, 0, 0.15), inset 0 -4px 2px 3px rgba(0, 0, 0, 0.5), inset 0 1px 1px 7px rgba(255, 255, 255, 0.25), inset 0 -30px 30px rgba(0, 0, 0, 0.1), inset 0 30px 30px rgba(0, 0, 0, 0.2), 0 -4px 8px 4px rgba(0, 0, 0, 0.5), 0 5px 10px rgba(0, 0, 0, 0.25), 0 0 2px 2px rgba(0, 0, 0, 0.2), 0 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 2px 6px rgba(0, 0, 0, 0.2), 0 0 2px 8px rgba(0, 0, 0, 0.5), 0 1px 2px 8px rgba(255, 255, 255, 0.25), 0 -1px 2px 8px rgba(0, 0, 0, 0.5);
  line-height: 86px;
}

button.activated {
  color: #0ab;
  text-shadow: 0 0 20px rgba(143, 143, 239, 0.5), 0 1px 1px rgba(255, 255, 255, 0.25), 0 -1px 1px rgba(0, 0, 0, 0.75);
}

button[disabled=disabled],
button:disabled {
  color: red;
}

/* 3D Button */

.partial-pad {
  margin: 50px 0 0 0;
  position: relative;
  width: 300px;
  height: 300px;
  float: right;
}

.partial-pad #forward-button {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.partial-pad #backward-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.partial-pad #left-button {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.partial-pad #right-button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.partial-pad #stop-button {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate3d(50%, -50%, 0);
  font-size: 20px;
}

.car {
  min-width: 400px;
  min-height: 600px;
  margin: auto;
  margin-right: 40px;
  position: absolute;
  right: 0;
}

.commands {
  min-width: 300px;
  float: left;
  position: relative;
}

.pad-container {
  position: absolute;
  left: 100px;
}

.roue {
  width: 100px;
  height: 200px;
  background-color: black;
  border: 1px solid red;
  position: absolute;
  border-radius: 25%;
  background: linear-gradient(225deg, black 22px, #282828 22px, #282828 24px, transparent 24px, transparent 67px, #282828 67px, #282828 69px, transparent 69px), linear-gradient(135deg, black 22px, #282828 22px, #282828 24px, transparent 24px, transparent 67px, #282828 67px, #282828 69px, transparent 69px) 0 64px;
  background-color: black;
  background-size: 64px 128px;
}

.axe {
  width: 300px;
  height: 10px;
  background-color: black;
  position: absolute;
}

#avaxe {
  top: 115px;
  left: 40px;
}

#araxe {
  top: 490px;
  left: 40px;
}

.av-d {
  top: 20px;
  right: 0;
}

.av-g {
  top: 20px;
  left: 0;
}

.ar-d {
  bottom: 0;
  right: 0;
}

.ar-g {
  bottom: 0;
  left: 0;
}

.turn-left {
  transform: rotate(-20deg);
}

.turn-right {
  transform: rotate(20deg);
}

.navbar {
  height: 100px;
  background-color: rgba(255, 255, 75, 0.3);
  overflow: hidden;
}

.navbar img {
  float: left;
  width: 300px;
}

.navbar nav {
  float: right;
  width: calc(100% - 300px);
}

.navbar nav ul {
  text-align: center;
  vertical-align: bottom;
  line-height: 4.5em;
  margin-top: 0px;
  list-style: none;
  margin-left: -50px;
  min-width: 500px;
  height: 100px;
}

.navbar nav ul li {
  transition: background-color 0.5s;
  padding: 30px 0 0 0;
  height: 100%;
  display: inline-block;
  margin: -30px 0 0 0;
}

.navbar nav ul li img {
  height: 16px;
  width: auto;
}

.navbar nav ul li:nth-child(1) {
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  margin-right: -5px;
}

.navbar nav ul li:nth-child(2) {
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  border-right: 2px solid rgba(0, 0, 0, 0.2);
}

.navbar nav ul li:nth-child(3) {
  margin-left: -5px;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
}

.navbar nav ul a {
  font-family: 'Boogaloo', "Arial Black", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2em;
  text-decoration: none;
  color: black;
  transition: color 0.5s;
  position: relative;
  display: inline-block;
  padding: 30px 20px 0 20px;
}

.navbar nav ul #home::before {
  content: "\f015";
  position: absolute;
  font-family: fontawesome;
  font-size: 36px;
  top: -10px;
  left: calc(50% - 18px);
}

.navbar nav ul #command::before {
  content: "\f047";
  position: absolute;
  font-family: fontawesome;
  font-size: 36px;
  top: -10px;
  left: calc(50% - 18px);
}

.navbar nav ul #maze::before {
  content: "\f20b";
  position: absolute;
  font-family: fontawesome;
  font-size: 36px;
  top: -10px;
  left: calc(50% - 18px);
}

.navbar nav ul li:hover {
  transition: background-color 0.5s;
  background-color: rgba(201, 210, 31, 0.5);
}

.navbar nav ul li:hover a {
  transition: color 0.5s, decoration 1s;
}

.home .navbar li #home {
  color: rgba(255, 161, 0, 0.8);
}

.command .navbar li #command {
  color: rgba(255, 161, 0, 0.8);
}

.maze .navbar li #maze {
  color: rgba(255, 161, 0, 0.8);
}

.home .content {
  padding: 10px 0 0 10px;
}

.home .content h1 {
  margin: 0;
  padding: 10px 0 10px 35px;
  background-color: rgba(255, 255, 75, 0.1);
  width: 80%;
}

.home .content #car {
  border: 2px solid black;
  margin: 20px 0 0 20px;
  float: left;
}

.home .content #arduino {
  height: 75px;
  width: auto;
  margin: 0 100px 0 50px;
}

.home .content #rasp {
  height: 100px;
  width: auto;
  margin: 0 100px 0 0;
}

.home .content #letmeknow {
  transform: translateY(-50%);
}

.home .content .p-project {
  margin: 30px 0 0 10px;
  float: left;
  width: 50%;
  font-size: 1.5em;
  font-family: 'Share';
}

.home .content .clearfix {
  margin-bottom: 30px;
}

.home .content .p-powered {
  width: 100%;
}

body {
  margin: 0;
}

.content {
  background-color: rgba(220, 20, 5, 0.7);
  height: calc(100vh - 127px);
}

h1,
h2 {
  font-family: 'Boogaloo';
  margin: 0;
  padding: 10px 0 10px 35px;
  background-color: rgba(255, 255, 75, 0.1);
  width: 80%;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

.bottom-border {
  border-bottom: 2px solid black;
}

.clearfix {
  clear: both;
}

hr {
  border-color: black;
}

.navbar {
  height: 100px;
  background-color: rgba(255, 255, 75, 0.3);
  overflow: hidden;
}

.navbar img {
  float: left;
  width: 300px;
}

.navbar nav {
  float: right;
  width: calc(100% - 300px);
}

.navbar nav ul {
  text-align: center;
  vertical-align: bottom;
  line-height: 4.5em;
  margin-top: 0px;
  list-style: none;
  margin-left: -50px;
  min-width: 500px;
  height: 100px;
}

.navbar nav ul li {
  transition: background-color 0.5s;
  padding: 30px 0 0 0;
  height: 100%;
  display: inline-block;
  margin: -30px 0 0 0;
}

.navbar nav ul li img {
  height: 16px;
  width: auto;
}

.navbar nav ul li:nth-child(1) {
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  margin-right: -5px;
}

.navbar nav ul li:nth-child(2) {
  border-left: 2px solid rgba(0, 0, 0, 0.2);
  border-right: 2px solid rgba(0, 0, 0, 0.2);
}

.navbar nav ul li:nth-child(3) {
  margin-left: -5px;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
}

.navbar nav ul a {
  font-family: 'Boogaloo', "Arial Black", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2em;
  text-decoration: none;
  color: black;
  transition: color 0.5s;
  position: relative;
  display: inline-block;
  padding: 30px 20px 0 20px;
}

.navbar nav ul #home::before {
  content: "\f015";
  position: absolute;
  font-family: fontawesome;
  font-size: 36px;
  top: -10px;
  left: calc(50% - 18px);
}

.navbar nav ul #command::before {
  content: "\f047";
  position: absolute;
  font-family: fontawesome;
  font-size: 36px;
  top: -10px;
  left: calc(50% - 18px);
}

.navbar nav ul #maze::before {
  content: "\f20b";
  position: absolute;
  font-family: fontawesome;
  font-size: 36px;
  top: -10px;
  left: calc(50% - 18px);
}

.navbar nav ul li:hover {
  transition: background-color 0.5s;
  background-color: rgba(201, 210, 31, 0.5);
}

.navbar nav ul li:hover a {
  transition: color 0.5s, decoration 1s;
}

.home .navbar li #home {
  color: rgba(255, 161, 0, 0.8);
}

.command .navbar li #command {
  color: rgba(255, 161, 0, 0.8);
}

.maze .navbar li #maze {
  color: rgba(255, 161, 0, 0.8);
}

.home .content {
  padding: 10px 0 0 10px;
}

.home .content h1 {
  margin: 0;
  padding: 10px 0 10px 35px;
  background-color: rgba(255, 255, 75, 0.1);
  width: 80%;
}

.home .content #car {
  border: 2px solid black;
  margin: 20px 0 0 20px;
  float: left;
}

.home .content #arduino {
  height: 75px;
  width: auto;
  margin: 0 100px 0 50px;
}

.home .content #rasp {
  height: 100px;
  width: auto;
  margin: 0 100px 0 0;
}

.home .content #letmeknow {
  transform: translateY(-50%);
}

.home .content .p-project {
  margin: 30px 0 0 10px;
  float: left;
  width: 50%;
  font-size: 1.5em;
  font-family: 'Share';
}

.home .content .clearfix {
  margin-bottom: 30px;
}

.home .content .p-powered {
  width: 100%;
}

.car {
  min-width: 400px;
  min-height: 600px;
  margin: auto;
  margin-right: 40px;
  position: absolute;
  right: 0;
}

.commands {
  min-width: 300px;
  float: left;
  position: relative;
}

.pad-container {
  position: absolute;
  left: 100px;
}

.roue {
  width: 100px;
  height: 200px;
  background-color: black;
  border: 1px solid red;
  position: absolute;
  border-radius: 25%;
  background: linear-gradient(225deg, black 22px, #282828 22px, #282828 24px, transparent 24px, transparent 67px, #282828 67px, #282828 69px, transparent 69px), linear-gradient(135deg, black 22px, #282828 22px, #282828 24px, transparent 24px, transparent 67px, #282828 67px, #282828 69px, transparent 69px) 0 64px;
  background-color: black;
  background-size: 64px 128px;
}

.axe {
  width: 300px;
  height: 10px;
  background-color: black;
  position: absolute;
}

#avaxe {
  top: 115px;
  left: 40px;
}

#araxe {
  top: 490px;
  left: 40px;
}

.av-d {
  top: 20px;
  right: 0;
}

.av-g {
  top: 20px;
  left: 0;
}

.ar-d {
  bottom: 0;
  right: 0;
}

.ar-g {
  bottom: 0;
  left: 0;
}

.turn-left {
  transform: rotate(-20deg);
}

.turn-right {
  transform: rotate(20deg);
}

.command {
  /* Switch on */
}

.command .switch-container {
  display: inline-block;
  width: 100px;
}

.command .partial-switch {
  position: absolute;
  top: 350px;
  left: 80px;
  width: 500px;
  height: 500px;
  margin-left: 20px;
}

.command .partial-switch .switchMode-label {
  font-family: 'Share';
  margin: 0 0 0 -15px;
  text-align: center;
}

.command .switch {
  display: inline-block;
  margin: 10em 2em;
  position: relative;
  border-radius: 3.5em;
  -webkit-box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.2);
  font-size: 8px;
}

.command .switch label {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.command .switch input {
  display: none;
}

.command .switch span {
  display: block;
  -webkit-transition: top 0.2s;
  -moz-transition: top 0.2s;
  -ms-transition: top 0.2s;
  -o-transition: top 0.2s;
  transition: top 0.2s;
}

.command .switch-border1 {
  border: 0.1em solid #000;
  border-radius: 3.5em;
  -webkit-box-shadow: 0 0.2em rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 0.2em rgba(255, 255, 255, 0.2);
  box-shadow: 0 0.2em rgba(255, 255, 255, 0.2);
}

.command .switch-border2 {
  width: 6.6em;
  height: 12.6em;
  position: relative;
  border: 0.1em solid #323232;
  background-image: -webkit-gradient(linear, left top, right top, from(#2D2D2D), color-stop(0.5, #4B4B4B), to(#2D2D2D));
  background-image: -webkit-linear-gradient(left, #2D2D2D, #4B4B4B, #2D2D2D);
  background-image: -moz-linear-gradient(left, #2D2D2D, #4B4B4B, #2D2D2D);
  background-image: -ms-linear-gradient(left, #2D2D2D, #4B4B4B, #2D2D2D);
  background-image: -o-linear-gradient(left, #2D2D2D, #4B4B4B, #2D2D2D);
  background-image: linear-gradient(to right, #2D2D2D, #4B4B4B, #2D2D2D);
  border-radius: 3.4em;
}

.command .switch-border2:before,
.command .switch-border2:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: .3;
  border-radius: 3.4em;
}

.command .switch-border2:before {
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(transparent));
  background: -webkit-linear-gradient(#000, transparent);
  background: -moz-linear-gradient(#000, transparent);
  background: -ms-linear-gradient(#000, transparent);
  background: -o-linear-gradient(#000, transparent);
  background: linear-gradient(#000, transparent);
}

.command .switch-border2:after {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000));
  background: -webkit-linear-gradient(transparent, #000);
  background: -moz-linear-gradient(transparent, #000);
  background: -ms-linear-gradient(transparent, #000);
  background: -o-linear-gradient(transparent, #000);
  background: linear-gradient(transparent, #000);
}

.command .switch-top {
  width: 100%;
  height: 84%;
  position: absolute;
  top: 8%;
  left: 0;
  z-index: 1;
  background-image: -webkit-gradient(linear, left top, right top, from(#2D2D2D), color-stop(0.5, #4B4B4B), to(#2D2D2D));
  background-image: -webkit-linear-gradient(left, #2D2D2D, #4B4B4B, #2D2D2D);
  background-image: -moz-linear-gradient(left, #2D2D2D, #4B4B4B, #2D2D2D);
  background-image: -ms-linear-gradient(left, #2D2D2D, #4B4B4B, #2D2D2D);
  background-image: -o-linear-gradient(left, #2D2D2D, #4B4B4B, #2D2D2D);
  background-image: linear-gradient(to right, #2D2D2D, #4B4B4B, #2D2D2D);
  border-radius: 3.4em;
}

.command .switch-shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border-radius: 3.4em;
  -webkit-box-shadow: 0 0 2em black inset;
  -moz-box-shadow: 0 0 2em black inset;
  box-shadow: 0 0 2em black inset;
}

.command .switch-handle-left,
.command .switch-handle-right {
  content: '';
  display: block;
  width: 3.6em;
  height: 0;
  position: absolute;
  top: 6.6em;
  z-index: 2;
  border-bottom: 4.5em solid #111;
  border-left: 0.7em solid transparent;
  border-right: 0.7em solid transparent;
  border-radius: 0;
}

.command .switch-handle-left {
  left: 0.8em;
}

.command .switch-handle-right {
  right: 0.8em;
}

.command .switch-handle {
  width: 3.6em;
  height: 4.5em;
  position: absolute;
  top: 6.6em;
  left: 1.5em;
  z-index: 3;
  background: #333;
  background-image: -webkit-gradient(linear, left top, right top, from(#111), color-stop(0.4, #777), color-stop(0.5, #888), color-stop(0.6, #777), to(#111));
  background-image: -webkit-linear-gradient(left, #111, #777 40%, #888, #777 60%, #111);
  background-image: -moz-linear-gradient(left, #111, #777 40%, #888, #777 60%, #111);
  background-image: -ms-linear-gradient(left, #111, #777 40%, #888, #777 60%, #111);
  background-image: -o-linear-gradient(left, #111, #777 40%, #888, #777 60%, #111);
  background-image: linear-gradient(to right, #111, #777 40%, #888, #777 60%, #111);
  border-radius: 0;
}

.command .switch-handle-top {
  width: 5em;
  height: 5em;
  position: absolute;
  top: 8.5em;
  left: 0.8em;
  z-index: 4;
  background-color: #555;
  background-image: -webkit-gradient(linear, left top, right top, from(#5F5F5F), to(#878787));
  background-image: -webkit-linear-gradient(left, #5F5F5F, #878787);
  background-image: -moz-linear-gradient(left, #5F5F5F, #878787);
  background-image: -ms-linear-gradient(left, #5F5F5F, #878787);
  background-image: -o-linear-gradient(left, #5F5F5F, #878787);
  background-image: linear-gradient(to right, #5F5F5F, #878787);
  border-top: 0.2em solid #AEB2B3;
  border-radius: 2.5em;
}

.command .switch-handle-bottom {
  width: 3.6em;
  height: 3.6em;
  position: absolute;
  top: 4.7em;
  left: 1.5em;
  z-index: 3;
  background: #333;
  background-image: -webkit-gradient(linear, left top, right top, from(#111), color-stop(0.4, #777), color-stop(0.5, #888), color-stop(0.6, #777), to(#111));
  background-image: -webkit-linear-gradient(left, #111, #777 40%, #888, #777 60%, #111);
  background-image: -moz-linear-gradient(left, #111, #777 40%, #888, #777 60%, #111);
  background-image: -ms-linear-gradient(left, #111, #777 40%, #888, #777 60%, #111);
  background-image: -o-linear-gradient(left, #111, #777 40%, #888, #777 60%, #111);
  background-image: linear-gradient(to right, #111, #777 40%, #888, #777 60%, #111);
  border-top: 0.2em solid #141414;
  border-radius: 1.8em;
}

.command .switch-handle-base {
  width: 4.2em;
  height: 4.2em;
  position: absolute;
  top: 3.8em;
  left: 1.2em;
  z-index: 2;
  border-top: 0.2em solid rgba(255, 255, 255, 0.35);
  border-radius: 2.1em;
  -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.8) inset;
  -moz-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.8) inset;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.8) inset;
}

.command .switch-led {
  position: absolute;
  left: 2em;
  border-radius: 1.4em;
}

.command .switch-led-border {
  border: 0.2em solid black;
  border-radius: 1.3em;
}

.command .switch-led-light {
  border-radius: 1.1em;
  -webkit-box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.5) inset;
}

.command .switch-led-glow {
  width: 2em;
  height: 2em;
  position: relative;
  border-radius: 1em;
}

.command .switch-led-glow:before {
  content: '';
  display: block;
  width: 0.6em;
  height: 0.6em;
  position: absolute;
  top: 0.3em;
  left: 0.7em;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.3em;
  -webkit-box-shadow: 0 0 1em rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0 0 1em rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 1em rgba(255, 255, 255, 0.75);
}

.command .switch-led-glow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  filter: alpha(opacity=20);
  border: 1em solid #fff;
  border-color: transparent #fff transparent #fff;
  border-radius: 1em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.command .switch-led:after {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  color: #666;
  font-family: arial, verdana, sans-serif;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0.1em rgba(0, 0, 0, 0.7);
}

.command .switch-led-green:after {
  top: -1.8em;
  content: 'ON';
}

.command .switch-led-red:after {
  bottom: -1.8em;
  content: 'OFF';
}

.command .switch-led-green {
  top: -5em;
  border-top: 0.1em solid rgba(0, 161, 75, 0.5);
  border-bottom: 0.1em solid rgba(255, 255, 255, 0.25);
}

.command .switch-led-green .switch-led-light {
  background: #00a14b;
  border: 0.1em solid #006838;
}

.command .switch-led-red {
  bottom: -5em;
  border-top: 0.1em solid rgba(237, 28, 36, 0.2);
  border-bottom: 0.1em solid rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 0 3em #ed1c24;
  -moz-box-shadow: 0 0 3em #ed1c24;
  box-shadow: 0 0 3em #ed1c24;
}

.command .switch-led-red .switch-led-light {
  background: #ed1c24;
  border: 0.1em solid #a11e2d;
}

.command .switch-led-red .switch-led-glow {
  background: #fff;
  background: rgba(255, 255, 255, 0.3);
  filter: alpha(opacity=30);
}

.command .switch input:checked ~ .switch-handle-left,
.command .switch input:checked ~ .switch-handle-right {
  top: 1.5em;
  border-bottom: 0;
  border-top: 4.5em solid #111;
}

.command .switch input:checked ~ .switch-handle {
  top: 1.5em;
}

.command .switch input:checked ~ .switch-handle-top {
  top: -1em;
  border-top: 0;
  border-bottom: 0.2em solid #AEB2B3;
}

.command .switch input:checked ~ .switch-handle-bottom {
  top: 4.2em;
  border-top: 0;
  border-bottom: 0.2em solid #141414;
}

.command .switch input:checked ~ .switch-handle-base {
  top: 4.5em;
  border-top: 0;
  border-bottom: 0.2em solid rgba(255, 255, 255, 0.35);
}

.command .switch input:checked ~ .switch-led-green {
  -webkit-box-shadow: 0 0 3em #00a14b;
  -moz-box-shadow: 0 0 3em #00a14b;
  box-shadow: 0 0 3em #00a14b;
}

.command .switch input:checked ~ .switch-led-green .switch-led-glow {
  background: #fff;
  background: rgba(255, 255, 255, 0.4);
  filter: alpha(opacity=40);
}

.command .switch input:checked ~ .switch-led-red {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.command .switch input:checked ~ .switch-led-red .switch-led-glow {
  background: rgba(255, 255, 255, 0);
  filter: alpha(opacity=0);
}

html {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

button:hover,
button:active {
  outline: 0;
}

button.depth {
  background: #444;
  border: none;
  border-radius: 80px;
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.2), inset 0 0 2px 4px rgba(0, 0, 0, 0.2), inset 0 0 2px 6px rgba(0, 0, 0, 0.2), inset 0 0 1px 8px rgba(0, 0, 0, 0.5), inset 0 -4px 2px 4px rgba(0, 0, 0, 0.5), inset 0 1px 1px 8px rgba(255, 255, 255, 0.25), inset 0 -30px 30px rgba(0, 0, 0, 0.2), 0 -4px 8px 4px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0.25), 0 0 2px 2px rgba(0, 0, 0, 0.2), 0 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 2px 6px rgba(0, 0, 0, 0.2), 0 0 2px 8px rgba(0, 0, 0, 0.5), 0 1px 2px 8px rgba(255, 255, 255, 0.25), 0 -1px 2px 8px rgba(0, 0, 0, 0.5);
  color: #303030;
  cursor: pointer;
  font: bold 40px/85px sans-serif;
  height: 80px;
  padding: 0;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.25), 0 -1px 1px rgba(0, 0, 0, 0.75);
  width: 80px;
}

button:hover,
button button.activable:focus {
  color: #0ab;
  text-shadow: 0 0 20px rgba(143, 143, 239, 0.5), 0 1px 1px rgba(255, 255, 255, 0.25), 0 -1px 1px rgba(0, 0, 0, 0.75);
}

button:focus {
  outline: none;
}

button:active {
  box-shadow: inset 0 0 2px 2px rgba(0, 0, 0, 0.2), inset 0 0 2px 4px rgba(0, 0, 0, 0.2), inset 0 0 2px 6px rgba(0, 0, 0, 0.2), inset 0 0 1px 7px rgba(0, 0, 0, 0.5), inset 0 5px 15px 7px rgba(0, 0, 0, 0.15), inset 0 -4px 2px 3px rgba(0, 0, 0, 0.5), inset 0 1px 1px 7px rgba(255, 255, 255, 0.25), inset 0 -30px 30px rgba(0, 0, 0, 0.1), inset 0 30px 30px rgba(0, 0, 0, 0.2), 0 -4px 8px 4px rgba(0, 0, 0, 0.5), 0 5px 10px rgba(0, 0, 0, 0.25), 0 0 2px 2px rgba(0, 0, 0, 0.2), 0 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 2px 6px rgba(0, 0, 0, 0.2), 0 0 2px 8px rgba(0, 0, 0, 0.5), 0 1px 2px 8px rgba(255, 255, 255, 0.25), 0 -1px 2px 8px rgba(0, 0, 0, 0.5);
  line-height: 86px;
}

button.activated {
  color: #0ab;
  text-shadow: 0 0 20px rgba(143, 143, 239, 0.5), 0 1px 1px rgba(255, 255, 255, 0.25), 0 -1px 1px rgba(0, 0, 0, 0.75);
}

button[disabled=disabled],
button:disabled {
  color: red;
}

/* 3D Button */

.partial-pad {
  margin: 50px 0 0 0;
  position: relative;
  width: 300px;
  height: 300px;
  float: right;
}

.partial-pad #forward-button {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.partial-pad #backward-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.partial-pad #left-button {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.partial-pad #right-button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.partial-pad #stop-button {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate3d(50%, -50%, 0);
  font-size: 20px;
}

.command {
  /* Switch on */
}

.command .switch-container {
  display: inline-block;
  width: 100px;
}

.command .partial-switch {
  position: absolute;
  top: 350px;
  left: 80px;
  width: 500px;
  height: 500px;
  margin-left: 20px;
}

.command .partial-switch .switchMode-label {
  font-family: 'Share';
  margin: 0 0 0 -15px;
  text-align: center;
}

.command .switch {
  display: inline-block;
  margin: 10em 2em;
  position: relative;
  border-radius: 3.5em;
  -webkit-box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.2);
  font-size: 8px;
}

.command .switch label {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.command .switch input {
  display: none;
}

.command .switch span {
  display: block;
  -webkit-transition: top 0.2s;
  -moz-transition: top 0.2s;
  -ms-transition: top 0.2s;
  -o-transition: top 0.2s;
  transition: top 0.2s;
}

.command .switch-border1 {
  border: 0.1em solid #000;
  border-radius: 3.5em;
  -webkit-box-shadow: 0 0.2em rgba(255, 255, 255, 0.2);
  -moz-box-shadow: 0 0.2em rgba(255, 255, 255, 0.2);
  box-shadow: 0 0.2em rgba(255, 255, 255, 0.2);
}

.command .switch-border2 {
  width: 6.6em;
  height: 12.6em;
  position: relative;
  border: 0.1em solid #323232;
  background-image: -webkit-gradient(linear, left top, right top, from(#2D2D2D), color-stop(0.5, #4B4B4B), to(#2D2D2D));
  background-image: -webkit-linear-gradient(left, #2D2D2D, #4B4B4B, #2D2D2D);
  background-image: -moz-linear-gradient(left, #2D2D2D, #4B4B4B, #2D2D2D);
  background-image: -ms-linear-gradient(left, #2D2D2D, #4B4B4B, #2D2D2D);
  background-image: -o-linear-gradient(left, #2D2D2D, #4B4B4B, #2D2D2D);
  background-image: linear-gradient(to right, #2D2D2D, #4B4B4B, #2D2D2D);
  border-radius: 3.4em;
}

.command .switch-border2:before,
.command .switch-border2:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: .3;
  border-radius: 3.4em;
}

.command .switch-border2:before {
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(transparent));
  background: -webkit-linear-gradient(#000, transparent);
  background: -moz-linear-gradient(#000, transparent);
  background: -ms-linear-gradient(#000, transparent);
  background: -o-linear-gradient(#000, transparent);
  background: linear-gradient(#000, transparent);
}

.command .switch-border2:after {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000));
  background: -webkit-linear-gradient(transparent, #000);
  background: -moz-linear-gradient(transparent, #000);
  background: -ms-linear-gradient(transparent, #000);
  background: -o-linear-gradient(transparent, #000);
  background: linear-gradient(transparent, #000);
}

.command .switch-top {
  width: 100%;
  height: 84%;
  position: absolute;
  top: 8%;
  left: 0;
  z-index: 1;
  background-image: -webkit-gradient(linear, left top, right top, from(#2D2D2D), color-stop(0.5, #4B4B4B), to(#2D2D2D));
  background-image: -webkit-linear-gradient(left, #2D2D2D, #4B4B4B, #2D2D2D);
  background-image: -moz-linear-gradient(left, #2D2D2D, #4B4B4B, #2D2D2D);
  background-image: -ms-linear-gradient(left, #2D2D2D, #4B4B4B, #2D2D2D);
  background-image: -o-linear-gradient(left, #2D2D2D, #4B4B4B, #2D2D2D);
  background-image: linear-gradient(to right, #2D2D2D, #4B4B4B, #2D2D2D);
  border-radius: 3.4em;
}

.command .switch-shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border-radius: 3.4em;
  -webkit-box-shadow: 0 0 2em black inset;
  -moz-box-shadow: 0 0 2em black inset;
  box-shadow: 0 0 2em black inset;
}

.command .switch-handle-left,
.command .switch-handle-right {
  content: '';
  display: block;
  width: 3.6em;
  height: 0;
  position: absolute;
  top: 6.6em;
  z-index: 2;
  border-bottom: 4.5em solid #111;
  border-left: 0.7em solid transparent;
  border-right: 0.7em solid transparent;
  border-radius: 0;
}

.command .switch-handle-left {
  left: 0.8em;
}

.command .switch-handle-right {
  right: 0.8em;
}

.command .switch-handle {
  width: 3.6em;
  height: 4.5em;
  position: absolute;
  top: 6.6em;
  left: 1.5em;
  z-index: 3;
  background: #333;
  background-image: -webkit-gradient(linear, left top, right top, from(#111), color-stop(0.4, #777), color-stop(0.5, #888), color-stop(0.6, #777), to(#111));
  background-image: -webkit-linear-gradient(left, #111, #777 40%, #888, #777 60%, #111);
  background-image: -moz-linear-gradient(left, #111, #777 40%, #888, #777 60%, #111);
  background-image: -ms-linear-gradient(left, #111, #777 40%, #888, #777 60%, #111);
  background-image: -o-linear-gradient(left, #111, #777 40%, #888, #777 60%, #111);
  background-image: linear-gradient(to right, #111, #777 40%, #888, #777 60%, #111);
  border-radius: 0;
}

.command .switch-handle-top {
  width: 5em;
  height: 5em;
  position: absolute;
  top: 8.5em;
  left: 0.8em;
  z-index: 4;
  background-color: #555;
  background-image: -webkit-gradient(linear, left top, right top, from(#5F5F5F), to(#878787));
  background-image: -webkit-linear-gradient(left, #5F5F5F, #878787);
  background-image: -moz-linear-gradient(left, #5F5F5F, #878787);
  background-image: -ms-linear-gradient(left, #5F5F5F, #878787);
  background-image: -o-linear-gradient(left, #5F5F5F, #878787);
  background-image: linear-gradient(to right, #5F5F5F, #878787);
  border-top: 0.2em solid #AEB2B3;
  border-radius: 2.5em;
}

.command .switch-handle-bottom {
  width: 3.6em;
  height: 3.6em;
  position: absolute;
  top: 4.7em;
  left: 1.5em;
  z-index: 3;
  background: #333;
  background-image: -webkit-gradient(linear, left top, right top, from(#111), color-stop(0.4, #777), color-stop(0.5, #888), color-stop(0.6, #777), to(#111));
  background-image: -webkit-linear-gradient(left, #111, #777 40%, #888, #777 60%, #111);
  background-image: -moz-linear-gradient(left, #111, #777 40%, #888, #777 60%, #111);
  background-image: -ms-linear-gradient(left, #111, #777 40%, #888, #777 60%, #111);
  background-image: -o-linear-gradient(left, #111, #777 40%, #888, #777 60%, #111);
  background-image: linear-gradient(to right, #111, #777 40%, #888, #777 60%, #111);
  border-top: 0.2em solid #141414;
  border-radius: 1.8em;
}

.command .switch-handle-base {
  width: 4.2em;
  height: 4.2em;
  position: absolute;
  top: 3.8em;
  left: 1.2em;
  z-index: 2;
  border-top: 0.2em solid rgba(255, 255, 255, 0.35);
  border-radius: 2.1em;
  -webkit-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.8) inset;
  -moz-box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.8) inset;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.8) inset;
}

.command .switch-led {
  position: absolute;
  left: 2em;
  border-radius: 1.4em;
}

.command .switch-led-border {
  border: 0.2em solid black;
  border-radius: 1.3em;
}

.command .switch-led-light {
  border-radius: 1.1em;
  -webkit-box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.5) inset;
  -moz-box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.5) inset;
  box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.5) inset;
}

.command .switch-led-glow {
  width: 2em;
  height: 2em;
  position: relative;
  border-radius: 1em;
}

.command .switch-led-glow:before {
  content: '';
  display: block;
  width: 0.6em;
  height: 0.6em;
  position: absolute;
  top: 0.3em;
  left: 0.7em;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 0.3em;
  -webkit-box-shadow: 0 0 1em rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0 0 1em rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 1em rgba(255, 255, 255, 0.75);
}

.command .switch-led-glow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  filter: alpha(opacity=20);
  border: 1em solid #fff;
  border-color: transparent #fff transparent #fff;
  border-radius: 1em;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.command .switch-led:after {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  color: #666;
  font-family: arial, verdana, sans-serif;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0.1em rgba(0, 0, 0, 0.7);
}

.command .switch-led-green:after {
  top: -1.8em;
  content: 'ON';
}

.command .switch-led-red:after {
  bottom: -1.8em;
  content: 'OFF';
}

.command .switch-led-green {
  top: -5em;
  border-top: 0.1em solid rgba(0, 161, 75, 0.5);
  border-bottom: 0.1em solid rgba(255, 255, 255, 0.25);
}

.command .switch-led-green .switch-led-light {
  background: #00a14b;
  border: 0.1em solid #006838;
}

.command .switch-led-red {
  bottom: -5em;
  border-top: 0.1em solid rgba(237, 28, 36, 0.2);
  border-bottom: 0.1em solid rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 0 3em #ed1c24;
  -moz-box-shadow: 0 0 3em #ed1c24;
  box-shadow: 0 0 3em #ed1c24;
}

.command .switch-led-red .switch-led-light {
  background: #ed1c24;
  border: 0.1em solid #a11e2d;
}

.command .switch-led-red .switch-led-glow {
  background: #fff;
  background: rgba(255, 255, 255, 0.3);
  filter: alpha(opacity=30);
}

.command .switch input:checked ~ .switch-handle-left,
.command .switch input:checked ~ .switch-handle-right {
  top: 1.5em;
  border-bottom: 0;
  border-top: 4.5em solid #111;
}

.command .switch input:checked ~ .switch-handle {
  top: 1.5em;
}

.command .switch input:checked ~ .switch-handle-top {
  top: -1em;
  border-top: 0;
  border-bottom: 0.2em solid #AEB2B3;
}

.command .switch input:checked ~ .switch-handle-bottom {
  top: 4.2em;
  border-top: 0;
  border-bottom: 0.2em solid #141414;
}

.command .switch input:checked ~ .switch-handle-base {
  top: 4.5em;
  border-top: 0;
  border-bottom: 0.2em solid rgba(255, 255, 255, 0.35);
}

.command .switch input:checked ~ .switch-led-green {
  -webkit-box-shadow: 0 0 3em #00a14b;
  -moz-box-shadow: 0 0 3em #00a14b;
  box-shadow: 0 0 3em #00a14b;
}

.command .switch input:checked ~ .switch-led-green .switch-led-glow {
  background: #fff;
  background: rgba(255, 255, 255, 0.4);
  filter: alpha(opacity=40);
}

.command .switch input:checked ~ .switch-led-red {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.command .switch input:checked ~ .switch-led-red .switch-led-glow {
  background: rgba(255, 255, 255, 0);
  filter: alpha(opacity=0);
}