.navbar {
  height: 100px
}

.navbar img {
  float: left;
  width: 300px
}

.navbar nav {
  float: right;
  width: calc(100% - 300px)
}

.navbar nav ul {
  text-align: center;
  list-style: none;
  margin-top: 40px;
  margin-left: -50px;
  min-width: 500px
}

.navbar nav ul li {
  display: inline;
  margin-left: 10px
}

.navbar nav ul a {
  font-family: 'verdana';
  font-weight: bold;
  border: 2px solid black;
  padding: 7px;
  border-radius: 20px;
  text-decoration: none;
  color: inherit;
  background-color: #b4b4b4
}

.navbar nav ul a:hover {
  background-color: #d2d2d2
}

body {
  background-color: #ffffc8
}

hr {
  border-color: black
}

.navbar {
  height: 100px
}

.navbar img {
  float: left;
  width: 300px
}

.navbar nav {
  float: right;
  width: calc(100% - 300px)
}

.navbar nav ul {
  text-align: center;
  list-style: none;
  margin-top: 40px;
  margin-left: -50px;
  min-width: 500px
}

.navbar nav ul li {
  display: inline;
  margin-left: 10px
}

.navbar nav ul a {
  font-family: 'verdana';
  font-weight: bold;
  border: 2px solid black;
  padding: 7px;
  border-radius: 20px;
  text-decoration: none;
  color: inherit;
  background-color: #b4b4b4
}

.navbar nav ul a:hover {
  background-color: #d2d2d2
}