<% include partials/headerHtml %>
<body class="command">
  <% include partials/header %>
  <section class="content">
    <div class="commands">
      <% include partials/switch %>
      <% include partials/buttonPad %>
    </div>
    <div class ="car">
      <% include partials/car %>
    </div>
    <div id="state"></div>
    <div id="gamepadDisplay"></div>
  </section>
  <% include partials/footer %>
