<% include partials/headerHtml %>
<body class="home">
  <% include partials/header %>
    <section class="content clearfix">
      <!--<h1>The Vroomaze Project</h1>
      <img id="car" src="images/car.jpeg">
      <p class="p-project">The Vroomaz 360RCZ is a crazy project: An intelligent RC car able to move itself, avoiding wall and obstacles.
        You can control it with keyboard or gamepad too. And the best part is, it can get out of a maze ! PC tu te débrouille après !!!!
        <div class="clearfix"></div>
      </p>
      <hr/>!-->
      <h1>The Vroomaz project</h1>
      <div id="slider">
        <a href="#" class="control_next">>></a>
        <a href="#" class="control_prev"><</a>
        <ul>
          <li><img id="car" src="images/photo1.jpg"></li>
          <li><img id="car" src="images/photo1.jpg"></li>
          <li><img id="car" src="images/photo1.jpg"></li>
          <li><img id="car" src="images/photo1.jpg"></li>
        </ul>
      </div>
      <p class="description">
        The Vroomaz 360Rcz is a crazy project: An intelligent RC car able to move itself, avoiding the walls and obstacles.
        You can control it with your keyboard or a gamepad, or our mobile application !
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor i
        n reprehenderit in voluptate velit esse cillum dolore
      </p>
      <h2 class="clearfix">Powered by</h2>
      <p class="p-powered">
        <img id="arduino" src="images/Arduino_Uno_logo.png">
        <img id="rasp" src="images/Raspi-PGB001.png">
        <img id="nikko" src="images/nikko.png">
      </p>
    </section>
  <% include partials/footer %>
