<% include partials/header %>
<body class="home">
  <% include partials/navbar %>
    <section class="content">
      <img src="images/car.jpeg">
      <img src="images/Arduino_Uno_logo.png">
      <img src="images/Raspi-PGB001.png">
    </section>
  <% include partials/footer %>
