<% include partials/header %>
<body class="manualCommand">
  <% include partials/navbar %>
    MANUAL COMMAND
    <div id="state"></div>
    <div id="gamepadDisplay"></div>
  <% include partials/footer %>
