<div class="pad">
  <button id="forward-button" class="depth" type="button">&#8593;</button>
  <button id="left-button" class="depth" type="button">&#8592;</button>
  <button id="right-button" class="depth" type="button">&#8594;</button>
  <button id="backward-button" class="depth" type="button">&#8595;</button>
  <button id="stop-button" class="depth" type="button">STOP</button>
</div>
