<div id="avd" class="roue av-d"></div>
<div id="avg" class="roue av-g"></div>
<div id="ard" class="roue ar-d"></div>
<div id="ard" class="roue ar-g"></div>
<div id="avaxe" class="axe"></div>
<div id="araxe" class="axe"></div>
