<section class="navbar top-bottom-border">
  <img src="images/bestlogoever.png">
  <nav>
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="manualCommand">MANUAL COMMAND</a></li>
      <li><a href="mazeResolution">MAZE RESOLUTION</a></li>
    </ul>
  </nav>
</section>
