.car
  min-width: 400px
  min-height: 600px
  margin: auto
  margin-right: 40px
  position: relative
  float: right

.commands
  min-width: 300px
  float: left

.roue
  width: 100px
  height: 200px
  background-color: rgb(0, 0, 0)
  border: 1px solid red
  position: absolute
  border-radius: 25%
  background: linear-gradient(225deg, black 22px, rgb(40, 40, 40) 22px, rgb(40, 40, 40) 24px, transparent 24px, transparent 67px, rgb(40, 40, 40) 67px, rgb(40, 40, 40) 69px, transparent 69px), linear-gradient(135deg, black 22px, rgb(40, 40, 40) 22px, rgb(40, 40, 40) 24px, transparent 24px, transparent 67px, rgb(40, 40, 40) 67px, rgb(40, 40, 40) 69px, transparent 69px)0 64px;
  background-color: black
  background-size: 64px 128px


.axe
  width: 300px
  height: 10px
  background-color: rgb(0, 0, 0)
  position: absolute

#avaxe
  top: 115px
  left: 40px

#araxe
  top: 490px
  left: 40px

.av-d
  top: 20px
  right: 0

.av-g
  top: 20px
  left: 0

.ar-d
  bottom: 0
  right: 0

.ar-g
  bottom: 0
  left: 0

.turn-left
  transform: rotate(-20deg)

.turn-right
  transform: rotate(20deg)
