.navbar
  height: 100px
  background-color: rgba(255, 255, 167, 1)
  overflow: hidden
  border-bottom: 2px solid rgb(201, 194, 194)
  box-shadow: 5px 5px 2px #656565

  img
    float: left
    width: 300px

  nav
    float: right
    width: calc(100% - 300px)
    ul
      vertical-align: bottom
      line-height: 4.5em
      margin-top: 0px
      list-style: none
      margin-left: 100px
      min-width: 500px
      height: 100px
      li
        transition: background-color 0.5s
        padding: 30px 0 0 0
        height: 100%
        display: inline-block
        margin: -30px 0 0 0
        img
          height: 16px
          width: auto
      li:nth-child(1)
        border-left: 2px solid rgba(0,0,0,0.2)
        margin-right: -5px
      li:nth-child(2)
        border-left: 2px solid rgba(0,0,0,0.2)
        border-right: 2px solid rgba(0,0,0,0.2)
      li:nth-child(3)
        margin-left: -5px
        border-right: 2px solid rgba(0,0,0,0.2)
      a
        font-family: 'Boogaloo', "Arial Black", Arial, Helvetica, sans-serif
        font-weight: bold
        font-size: 2em
        text-decoration: none
        color: black
        transition: color 0.5s
        position: relative
        display: inline-block
        padding: 30px 20px 0 20px
      #home::before
        content: "\f015"
        position: absolute
        font-family: fontawesome
        font-size: 36px
        top: -10px
        left: calc(50% - 18px)
      #command::before
        content: "\f047"
        position: absolute
        font-family: fontawesome
        font-size: 36px
        top: -10px
        left: calc(50% - 18px)
      #maze::before
        content: "\f20b"
        position: absolute
        font-family: fontawesome
        font-size: 36px
        top: -10px
        left: calc(50% - 18px)
      li:hover
        transition: background-color 0.5s
        background-color: rgba(201, 210, 31, 0.5)
        a
          transition: color 0.5s, decoration 1s

//Hilight the current section
.home
  .navbar
    li
      #home
        color: rgba(255, 161, 0, 0.8)

.command
  .navbar
    li
      #command
        color: rgba(255, 161, 0, 0.8)

.maze
  .navbar
    li
      #maze
        color: rgba(255, 161, 0, 0.8)
