.home
  .content
    padding: 10px 0 0 10px
    h1
      margin: 0
      padding: 10px 0 10px 35px
      background-color: rgba(255,255,75,0.1)
      width: 80%
    #car
      border: 2px solid black
      margin: 20px 0 0 20px
      float: left
    #arduino
      height: 75px
      width: auto
      margin: 0 100px 0 50px
    #rasp
      height: 100px
      width: auto
      margin: 0 100px 0 0
    #letmeknow
      transform: translateY(-50%)

    .p-project
      margin: 30px 0 0 10px
      float: left
      width: 50%
      font-size: 1.5em
      font-family: 'Share'
    .clearfix
      margin-bottom: 30px
    .p-powered
      width: 100%
