body
  background-color: rgba(227, 227, 227, 1)
  margin: 0

h1, h2
  font-family: 'Boogaloo'
  margin: 0
  padding: 10px 0 10px 35px
  width: 80%

h1
  font-size: 3em

h2
  font-size: 2em
.bottom-border
  border-bottom: 2px solid black

.clearfix
  clear: both

hr
  border-color: black

@import 'header.sass'
@import 'home.sass'
@import 'command.sass'
@import 'switch.sass'
@import 'buttonPad.sass'
@import 'slider.sass'
