body
  background-color: rgba(220,20,5,0.7)
  margin: 0

.content
  //height: calc(100vh - 127px)

h1, h2
  font-family: 'Boogaloo'
  margin: 0
  padding: 10px 0 10px 35px
  background-color: rgba(255,255,75,0.1)
  width: 80%

h1
  font-size: 3em

h2
  font-size: 2em
.bottom-border
  border-bottom: 2px solid black

.clearfix
  clear: both

hr
  border-color: black

@import 'header.sass'
@import 'home.sass'
@import 'command.sass'
@import 'switch.sass'
@import 'buttonPad.sass'
